.dis {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
  color:red;
  margin-top: -8000px;
}

.dis1 {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
  color:black;

  margin-top: -700px;
}
.dis3 {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
  color:black;

  margin-top: -800px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.text1,.text2,.text3,.text4,.text5,.text6
{
	justify-content: space-between;
	
}
.table
{
	margin: 20px;
}
.text1
{
	margin-left: 70px;
}
.text2
{
	margin-left: 80px;
}
.text3
{
	margin-left: 120px;
}
.text4
{
	margin-left: 14px;
}
.text5
{
	margin-left: 5px;
}

.form2
{
	 display: flex;
  flex-direction: column;
  align-items: center;
 
  position: relative;
  height: auto;
  margin-top: -560px;
}

.txt
{
	display: flex;
	flex:start;
	float: left;
}
.form1
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
}
.field1
{
	display: flex;
	justify-content: space-around;
}
.field2
{
	display: flex;
	width: 200px;
	height: 35px;
	border-radius: 40px; 
	position: relative;
	left: 13px;
}
.txt1
{
	display: flex;
	float: left;
	align-items: center;
	position: relative;
}
.btn
{
	display: flex;
	justify-content: space-around;
}
.addemployee
{
	display: flex;
	margin-left: -360px;
	width: auto;
	margin-top: -20px;
	position: relative;

}

.navbar
{
  background-color: orange;	
  display: flex;
  color:red;
  background-size: cover;
  position: relative;
  height: 50px;
}
.footer
{

	
	position: sticky;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
   height: 40px;
}

.form2
{
	 display: flex;
  flex-direction: column;
  align-items: center;
 
  position: relative;

  height: auto;
  margin-top: -650px;
}
.txtfield1,.txtfield2,.radio,.address,.phone,.emailid,.select
{
	display: flex;
	justify-content: space-around;
}
.txtfield1
{
	left: 30px;
}
.txtfield2
{
	left: 30px;
}
.radio
{
	left: 60px;
	display: flex;
	justify-content: center;
	position: relative;

}
.phone
{
	left: 13px;
}
.emailid
{
	top: 0px;
	left: 53px;
	position: absolute;
	display: flex;
	justify-content: center;
}
.circle1
{
	left: 64px;
	top: 6px;
}
/*.circle3
{
	left: -45px;
	position: relative;
}*/
.circle2
{
	margin-left: 60px;
	margin-top: 6px;
}
.select
{
	margin-left: 23px;
}
.salary
{
	position: relative;
	left: 60px;
}

.main
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	flex-direction: column;
	margin: 50PX;
	top: 30%;
	left: 1%;
	margin-top: -500px;
}
.main1
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	flex-direction: column;
	margin: 50PX;
	top: 30%;
	left: 1%;
	margin-top: -650px;
}
.new
{
	display: flex;
	
	flex-direction: column;
	margin-left: 80px;
	justify-content: space-between;
	position: relative;
	top: 3px;
}

.post
{
	max-width: 800px;
  width: 100%;
  display: table;
  margin-right: -330px;
  padding: 20px 50px;
	
}

.receipt
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}